<!DOCTYPE html>
<html lang="ru" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Форма</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div><p align="center" class="grey_indicate"><span th:text="${answer}"></span></p></div>
    <!--		<div><p align="center" class="grey_indicate">Упс... Похоже сбой сервера</p></div>-->
    <div><p align="center">Некоректный ввод данных</p>

    <div><p align="center"><a href="">Вернуться на сайт >></a></p></div>
</div>
</body>
